name: test-delete-runs

on:
  push:
    branches:
      - test
  
jobs:
  delete-runs:
    runs-on: windows-latest

    steps:
      - name: code checkout
      - uses: actions/checkout@v2

      - name: Delete Workflow Runs
        uses: dmvict/clean-workflow-runs@v1.0.0
